#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/* Global defaults */

#define QUICK_TAP_MS 175

/* Homerow mods */

#define KEYS_L  0  1  2  3  4  5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41
#define KEYS_R  6  7  8  9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47
#define THUMBS 48 49 50 51 52 53 54 55

// Finger importance: 1=Index, 2=Middle, 3=Ring, 4=Pinky
// Left side
#define LHRM1 LSHFT
#define LHRM2 LGUI
#define LHRM3 LALT
#define LHRM4 LCTRL

// Right side
#define RHRM1 RSHFT
#define RHRM2 RGUI
#define RHRM3 RALT
#define RHRM4 RCTRL

// Behavior-calling macros for home row mods
// Left side
#define LHM1(_key)  &hml LHRM1 _key
#define LHM2(_key)  &hml LHRM2 _key
#define LHM3(_key)  &hml LHRM3 _key
#define LHM4(_key)  &hml LHRM4 _key

// Right side
#define RHM1(_key)  &hmr RHRM1 _key
#define RHM2(_key)  &hmr RHRM2 _key
#define RHM3(_key)  &hmr RHRM3 _key
#define RHM4(_key)  &hmr RHRM4 _key

// Helper macro to define home-row modifier behaviors
#define DEFINE_HRM(_label, _name, _hold, _tap, _triggers, ...)  \
    _label: _name {                                             \
      compatible = "zmk,behavior-hold-tap";                     \
      label = #_name;                                           \
      #binding-cells = <2>;                                     \
      flavor = "balanced";                                      \
      tapping-term-ms = <200>;                                  \
      quick-tap-ms = <QUICK_TAP_MS>;                            \
      require-prior-idle-ms = <125>;                            \
      hold-trigger-key-positions = <_triggers>;                 \
      hold-trigger-on-release;                                  \
      bindings = <_hold>, <_tap>;                               \
      __VA_ARGS__                                               \
    }

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <QUICK_TAP_MS>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_mouse_l {
            timeout-ms = <50>;
            key-positions = <39 40>;
            bindings = <&mo 3>;
        };
        combo_mouse_r {
            timeout-ms = <50>;
            key-positions = <43 44>;
            bindings = <&mo 3>;
        };
    };

    behaviors {
        DEFINE_HRM(hml, home_row_mod_left, &kp, &kp, KEYS_R THUMBS);
        DEFINE_HRM(hmr, home_row_mod_right, &kp, &kp, KEYS_L THUMBS);
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
           label = "Base";
           bindings = <
&kp ESC    &kp N1   &kp N2   &kp N3     &kp N4     &kp N5          &kp N6      &kp N7     &kp N8     &kp N9   &kp N0      &kp MINUS
&kp TAB    &kp Q    &kp W    &kp E      &kp R      &kp T           &kp Y       &kp U      &kp I      &kp O    &kp P       &kp BSLH
&kp CAPS   LHM4(A)  LHM3(S)  LHM2(D)    LHM1(F)    &kp G           &kp H       RHM1(J)    RHM2(K)    RHM3(L)  RHM4(SEMI)  &kp SQT
&kp LSHFT  &kp Z    &kp X    &kp C      &kp V      &kp B           &kp N       &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                             &kp LGUI   &kp SPACE  &mo 1           &mo 2       &kp ENTER
                                        &kp LALT   &kp BSPC        &kp DEL
            >;
        };

        layer_1 {
            label = "Lower";
            bindings = <
&kp GRAVE  &kp EXCL   &kp AT    &kp HASH  &kp DLLR   &kp PRCNT          &kp CARET        &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR       &kp UNDER
&none      &none      &none     &none     &none      &none              &kp LBKT         &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp RBKT       &none
&none      &kp LCTRL  &kp LALT  &kp LGUI  &kp LSHFT  &none              &kp KP_PLUS      &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MINUS   &kp KP_EQUAL
&none      &none      &none     &none     &none      &none              &kp KP_MULTIPLY  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DIVIDE  &kp KP_DOT
                                &none     &none      &trans             &trans    &trans
                                          &trans     &trans             &trans
            >;
        };

        layer_2 {
            label = "Raise";
            bindings = <
&kp F1      &kp F2    &kp F3    &kp F4    &kp F5    &kp F6            &kp F7     &kp F8     &kp F9     &kp F10    &kp F11    &kp F12
&kp C_NEXT  &none     &none     &none     &none     &none             &none      &none      &none      &none      &none      &kp C_VOL_UP
&kp C_PP    &kp LEFT  &kp UP    &kp DOWN  &kp RIGHT &none             &none      &kp RSHFT  &kp RGUI   &kp RALT   &kp RCTRL  &kp C_MUTE
&kp C_PREV  &kp HOME  &kp PGUP  &kp PGDN  &kp END   &none             &none      &none      &none      &none      &none      &kp C_VOL_DN
                                &none     &none     &trans            &trans     &trans
                                          &none     &none             &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
&trans  &trans          &mo 4         &trans        &trans        &trans              &trans      &trans  &trans  &mo 4   &trans  &trans
                                     &mkp MB2      &mkp MB1      &mkp MB3            &mkp MB3    &mkp MB1
                                                    &trans        &mkp MB2            &mkp MB2
            >;
        };

        layer_4 {
            bindings = <
        &trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans        &trans        &trans        &trans              &trans      &trans  &trans  &trans  &trans  &trans
                                              &mkp MB2      &mkp MB1      &mkp MB3            &mkp MB3    &mkp MB1
                                                            &trans        &mkp MB2            &mkp MB2
            >;
        };
    };
};